

<div class="row">
  <div class="col-md-4"></div>



   <div class="col-md-4">
      <form (submit)="LoginUser($event)">
<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">
     {{title}}
    </div>
   
  </div>
   <div class="panel-body" >
     
         <div class="form-group">
              <label for="name">User Name</label>
              <input type="name" #name class="form-control"  id="name" placeholder="User Name">
           </div>
              <div class="form-group">
              <label for="passward">Password</label>
              <input type="password" #password class="form-control" id="password" placeholder="Password">
           </div>
           
           
     
    </div>
    <div class="panel-footer">
<input type="submit" class="btn btn-danger btn-md " id="login" value="Login"/>
   <a href="#" routerLink="/registration"> Not Register Yet ?</a>     
    </div>
    </div>
     </form>
 </div>

    <div class="col-md-4"></div>
</div>



